<div id="form-wrapper" class="container">

	<div class="row">
		<div class="large-12 columns text-center">
			<h1>Register a New Band</h1>
		</div>
	</div>

	<form action="" method="get" accept-charset="utf-8">

	</form>
</div>