<div id="index-wrapper" class="container">
	<div class="row">
		<div class="large-12 columns text-center">
			<h1>Bandshare</h1>
		</div>
	</div>

	<div id="index-button-container" class="row">
		<div class="large-4 columns text-center">
			<a class="button extended" href="/bands">Check out our band listing</a>
		</div>

		<div class="large-4 columns text-center">
			<a class="button extended" href="/venues">Check out our concert venues</a>
		</div>

		<div class="large-4 columns text-center">
				<a class="button extended" href="/concerts">Check out upcoming concerts</a>
		</div>
	</div>
</div>