<html>
<head lang='en'>
  <title>Band Share</title>
  <link rel='stylesheet' type='text/css' href='http://cdn.foundation5.zurb.com/foundation.css'>
  <script src='//code.jquery.com/jquery-1.11.3.min.js'></script>
  <script src='http://cdn.foundation5.zurb.com/foundation.js'></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel='stylesheet' type='text/css' href="<%= url('/main.css') %>">
</head>
<body>
  <div id='site-wrapper' class='container'>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a id="brand" href="/">BandShare</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="has-dropdown">
            <a href="#">Register a...</a>
            <ul class="dropdown">
              <li><a href="/bands/new">Band</a></li>
              <li class="active"><a href="/venues/new">Venue</li></a>
              <li><a href="/concerts/new">Concert</li></a>
            </ul> 
          </li>
        </ul>
      </section>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </div>
  <script>
    $(document).foundation();
    $(function() {
         $( "#datepicker" ).datepicker(); 
       });
  </script>

</body>
</html>