/* Header fonts */
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700italic);

/* General 
**************/

.extra-margin-top {
  margin-top: 1.2em;
}


#index-wrapper {  
  background: url('/img/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}

/*index band page*/
#bands-wrapper {
  background: url('/img/concertbg.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;

}

/*show band page*/
#band-show-wrapper {
  background: url('/img/bandbg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;

}

#venues-wrapper {
  background: url('/img/venuesbg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}

#venue-show-wrapper {

}

#index-button-container {
  margin-top: 2em;

  padding: 1em;
}

#index-button-container a {
  opacity: .7;
  border: 5px solid white;
}


/* Forms / Tables 
**************/

form {
  margin: 2em auto;
}

form {
  padding: .5em;
  margin-bottom: 1em;
}

form button {
  margin-top: 1.5em;
}

#form-wrapper {
  background: url('/img/formbg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%; 
}

form label {
  color: #fff;
  background-color: #333;
  margin-bottom: .25em;
}

table {
  margin: 2em auto;
}

table {
  opacity: .8;
}

table tr td {
  padding: 2em;
}

table tr th {
  font-size: 4em;
  text-align: center;
}

/* Typography 
***************/

html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 6em;
	color: white;
	font-weight: 700;
	margin-top: .25em;
}

#title-font {
  text-shadow: 2px 2px #333;
}

.section-title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 6em;
  color: #000;
  font-weight: 600;
  margin-top: .25em;
  display: inline-block;
  background-color: white;
  padding: .25em;
  opacity: .8;
}

.section-heading {
  font-size: 6em;
  color: #333;
}

.band-section {
  opacity: .8;
  display: inline-block;
  background-color: white;
  padding: .25em;
  color: #000;
}

.band-section-heading {
  display: inline-block;
  padding: .4;
  color: #fff;
  font-style: 4.8em;
  background-color: #000;
}

#brand {
  color: lightyellow;
}
